*{
    font-family: 'Nunito', sans-serif;
}
.ul1 {
    list-style: none;
}
.ul1 li {
    display: inline-block;
    
}
.btn1 {
    margin-left: 150px; 
}
.btn1 ,.li , .heading1{
    display: inline-block;
    max-width: 100%;
}
.con {
    background-color: #f5f7fc;
}
.hp {
    flex-direction: column;
    
}
.hp1 {
    flex-direction: column;
    box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px;
    border-radius: 8px;
}
.im {
    background-color: #f5f7fc;

}
.bo {
    display: inline-block;
    background-color: white;
    height: 120px;
}
.img3 {
    width: 350px;
}
.form-control {
    background-color: #edeef3;
}